In [288]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

In [289]:
traindf = pd.read_csv("train.csv")
traindf_dropna = traindf#.dropna().sample(100000, random_state=12345)
traindf_complete = traindf_dropna.loc[:,['ora',
                                         'irr_pvgis_mod','irri_pvgis_mod',
                                         #'temperatura_ambiente', 'tempi',
                                         'irradiamento','irri',
                                         #'pressure','pressurei', 'windspeed','windspeedi',
                                         #'dewpoint','dewpointi', 'cloudcover','cloudcoveri',
                                         'kwh']]


# traindf_complete = traindf_dropna.loc[:,['ora',
#                                          'irradiamento','irri','cloudcover','cloudcoveri',
#                                          'kwh']]

X = traindf_complete.drop(['kwh'], axis=1)
Y = traindf_complete['kwh']

X.shape

(235790, 5)

In [290]:
X.head()

   ora  irr_pvgis_mod  irri_pvgis_mod  irradiamento   irri
0  0.0            0.0           0.189           0.0  0.219
1  0.0            0.0           0.200           0.0  0.220
2  0.0            0.0           0.158           0.0  0.220
3  0.0            0.0           0.204           0.0  0.220
4  0.0            0.0           0.199           0.0  0.220

In [291]:
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size=0.2)

y_test.head(10)

213093    0.000
154179    0.165
38732     0.000
171709    0.479
81522     0.101
231694    0.291
211268    0.173
149696    0.778
182116    0.511
8691      0.000
Name: kwh, dtype: float64

In [292]:
# %%time
# # clf = svm.SVR(C=1, gamma=0.1, epsilon=0.1).fit(x_train, y_train)

# lss = Lasso(random_state=0, max_iter=1000)
# aaa = np.logspace(-10, -5, 30)
# par = [{'alpha': alphas}]
# nnn = 3

# clf = GridSearchCV(lss, par, cv=nnn, refit=True)
# clf.fit(x_train,y_train)

In [293]:
# clf.score(x_test, y_test)
# clf.best_score_

In [294]:
# clf.best_params_

In [295]:
# from sklearn.metrics import mean_squared_error
# yyy = clf.predict(x_test)
# mean_squared_error(y_test, yyy)

In [296]:
# yyy[:10]

In [297]:
#####################################################################

In [298]:

testdf = pd.read_csv("test.csv")
# testdf_dropna = testdf.dropna()
testdf_complete = testdf.loc[:,['ora',
                                         'irr_pvgis_mod','irri_pvgis_mod',
                                         #'temperatura_ambiente', 'tempi',
                                         'irradiamento','irri',
                                         #'pressure','pressurei', 'windspeed','windspeedi',
                                         #'dewpoint','dewpointi', 'cloudcover','cloudcoveri'
                               ]]

# testdf_complete = testdf_dropna.loc[:,['ora',
#                                          'irradiamento','irri','cloudcover','cloudcoveri'
#                                       ]]

testdf_complete.head(3)

   ora  irr_pvgis_mod  irri_pvgis_mod  irradiamento   irri
0  0.0            0.0           0.086           0.0  0.218
1  0.0            0.0           0.086           0.0  0.218
2  0.0            0.0           0.086           0.0  0.218

In [299]:
%%time
# modelfit = svm.SVR(C=1, gamma=1, epsilon=0.1).fit(X, Y)

lasso = Lasso(random_state=0, max_iter=1000)
alphas = np.logspace(-10, -5, 30)
tuned_parameters = [{'alpha': alphas}]
n_folds = 3

modelfit = GridSearchCV(lasso, tuned_parameters, cv=n_folds, refit=True)
modelfit.fit(X,Y)

Wall time: 41 s

In [300]:
%%time
pred_result = modelfit.predict(testdf_complete)

Wall time: 4.5 ms

In [301]:
pred_result[140:150]

array([ 0.05005957,  0.1324699 ,  0.19114541,  0.20249133,  0.07894999,
        0.17782097,  0.15809252,  0.21215375,  0.15595205,  0.06251379])

In [302]:
testdf_complete[140:150]

       ora  irr_pvgis_mod  irri_pvgis_mod  irradiamento   irri
140  0.444          0.026           0.199         0.026  0.236
141  0.444          0.185           0.223         0.056  0.245
142  0.444          0.198           0.086         0.098  0.218
143  0.444          0.325           0.086         0.051  0.218
144  0.444          0.035           0.086         0.035  0.218
145  0.444          0.297           0.092         0.035  0.218
146  0.444          0.256           0.218         0.054  0.242
147  0.444          0.140           0.092         0.140  0.251
148  0.444          0.201           0.092         0.046  0.236
149  0.444          0.021           0.086         0.021  0.218

In [303]:
kwh = pd.Series(pred_result)
non_negative = pred_result
non_negative[non_negative < 0] = 0
d = {'Id': testdf['id'].tolist(), 'kwh': non_negative}
result = pd.DataFrame(data=d)
result.head(200)

        Id       kwh
0    34255  0.041448
1    34282  0.041448
2    34375  0.041448
3    34572  0.041448
4    34660  0.042622
5    34761  0.041448
6    34814  0.041448
7    34888  0.041448
8    34913  0.041448
9    34987  0.041448
10   35099  0.041448
11   35254  0.041448
12   35275  0.041448
13   35304  0.041448
14   35378  0.041448
15   35381  0.041448
16   35422  0.041448
17   34363  0.040995
18   34426  0.040995
19   34539  0.040995
20   34582  0.040995
21   34596  0.040995
22   34634  0.040995
23   34842  0.040995
24   34954  0.040995
25   35001  0.040995
26   35039  0.040995
27   35103  0.042170
28   35157  0.040995
29   35232  0.040995
..     ...       ...
170  34164  0.165740
171  34294  0.212870
172  34651  0.179072
173  34702  0.050021
174  34723  0.111917
175  34754  0.153471
176  34783  0.233351
177  34796  0.180071
178  35064  0.079219
179  35070  0.152686
180  35110  0.188426
181  35220  0.230868
182  35228  0.055738
183  35414  0.134331
184  35448  0.185348
185  35500  0.062502
186  35528  0.082560
187  34268  0.049424
188  34401  0.081620
189  34414  0.055294
190  34523  0.105321
191  34547  0.126082
192  34625  0.146763
193  34664  0.074078
194  34831  0.183088
195  34942  0.153660
196  34960  0.113079
197  34964  0.172815
198  35027  0.096454
199  35033  0.035365

[200 rows x 2 columns]

In [304]:
result.to_csv('wynik.csv',index=False)

In [305]:
print('test')

test